.header-wrapper {
  background: radial-gradient(
    circle at 30% -100%,
    #007EA7 25%,
    rgba(4, 44, 84, 1) 85%,
    #007EA7 100%
  );
  color: #fff;
  text-align: center;
  padding: 45px;
}

.header-title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 35px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #fff;
}

.header-text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-align: justify;
  line-height: 24px;
  color: #fff;
  margin-top: 1.5rem;
}

.header-content-input {
  margin: 2rem 0 1rem;
  display: flex;
  flex-direction: column;
}

.header-content-input input {
  width: 100%;
  min-height: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  background: #fff;
  border: 2px solid #4b93b9;
  padding: 0 1rem;
  outline: none;
  color: #333;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.header-content-input button {
  width: 100%;
  min-height: 40px;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  cursor: pointer;
  color: #fff;
  background: #a8a6a6;
  outline: 0;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header-button:hover {
  background-color: rgb(196, 44, 44);
}