:root {
  --primary-color: #007ea7;
  --button-bg: #d3823a;
  --button-hover-bg: #e67a1c;
}

.footer-wrapper {
  background: radial-gradient(
    circle at 30% -100%,
    var(--primary-color) 25%,
    rgba(4, 44, 84, 1) 85%,
    var(--primary-color) 100%
  );
  color: #ecf0f1;
  text-align: center;
  padding: 45px;
}

.footer-heading {
  font-size: 22px;
  margin-bottom: 20px;
  color: #ecf0f1;
  animation: fadeInUp 0.5s ease;
}

.footer-button {
  background-color: var(--button-bg);
  border: 1px solid darken(var(--button-bg), 10%);
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}

.footer-button:hover {
  background-color: var(--button-hover-bg);
}

.footer-links {
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 60px;
}

.footer-links-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links-div1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.logo-text {
  font-size: 18px;
  font-weight: bold;
}

.footer-text {
  font-size: 14px;
}

@media only screen and (max-width: 1024px) {
  .footer-wrapper {
    padding: 20px;
  }

  .footer-heading,
  .footer-button {
    text-align: center;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .footer-links-div {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .footer-wrapper {
    padding: 15px;
  }

  .footer-heading {
    font-size: 14px;
  }

  .footer-button {
    margin-top: 15px;
  }

  .button-text {
    font-size: 14px;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .footer-links-div {
    margin-bottom: 15px;
  }

  .logo-text,
  .footer-text {
    font-size: 12px;
  }
}
